

html {
  font-family: sem serifa;
}

body{background-color: rgb(255, 254, 206);}

form {
  width: 600px;
  margin: 0 auto;
  
}

div {
  margin-bottom: 10px;
}

fieldset {
  background-color:rgb(rgb(164, 188, 194);
  border: 5px blue;
}





